
<div class="top-part" id="topp">
    <br>
    <h1>鸚鵡兄弟文字圖產生器</h1>
    <hr>
    <div id="imgs">

      <!-- <?php
      //-----------------------------------------------------改成php輸出----------

      $dirarr = scandir('./img/pre',0);
      $i = count($dirarr);

      $i=$i-1;
      for($j=2;$j<=$i;$j++){
        //$indexj = str_replace(".jpg","",$dirarr[$j]);
        echo "<img src=\"./img/pre/". $dirarr[$j] ."\" alt=\"img".($j-2)."\">" ;

      }

      //--------------------------------------------------------------------------
      ?> -->
    </div>
  </div>
