
<div class="bot-part" id="bott">

			<canvas id="output" ></canvas>

			<div>
				<input id="shuiyinText" value="" type="text" />
				<label class="label">
					<input class="radio" id="checkbox" type="checkbox" name="demo-checkbox2">
					<span class="checkbox radioInput"></span>
				</label>
				<br><br>
				<button class="normal" id="shuiyinBtn" class="mui-btn mui-btn-primary" type="button" > 來人上字</button>
				<button class="normal" id="errBtn" class="mui-btn mui-btn-primary" type="button" > 上錯字啦</button>
				<button class="normal" [routerLink]="['/']" type="button">再做一張</button>
				<br><br>
				<a href="" id="DL" download="鸚鵡兄弟.png" target="_blank"><button class="rred">下載圖片</button></a>
				<br><br><br><br>
				<p class="msg">小提醒：用FB開啟會無法下載<br><br>感謝巴友 巴啦啦小魔仙 提供原始圖<br> 有其他我沒有的也歡迎提供喔 </p>


				<!-- vvv TEST PART START vvv -->



				<p id="howlong"></p>




				<!-- ^^^ TEST PART END   ^^^ -->


			</div>
		</div>





		<div class="reveal-modal" id="myModal">
		<h1>Σ(°Д°; !!</h1>
		<h3>偵測到您是用FB瀏覽器</h3>
		<h3>FB內建瀏覽器會導致不能下載</h3>
		<p>請利用手機內建瀏覽器或其他瀏覽器</p>
		</div>
